<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Password Reset for <%= @user.username %></h1>
    <p>
      You recently requested to reset your password. Use this temporary token (<em>good for only 1hr)</em> to reset your password: <strong><%= @user.pw_reset_token %></strong><br>
      <strong>Click here:</strong>
    </p>
    <p>
      <%= link_to "RESET PASSWORD >>", password_edit_url %>
    </p>
    <p>Happy website monitoring!</p>
  </body>
</html>