<thead>
  <tr>
    <th></th>
    <th>Name</th>
    <th>URL</th>
    <th>Created</th>
    <th>Last Crawl</th>
    <th>Crawl Interval</th>
    <th><span data-toggle="tooltip" data-placement="top" title="Response Time Threshold">RTT</span></th>
    <th>Status</th>
    <th></th>
    <th></th>
  </tr>
</thead>