<%= render "shared/title", title: "Your Alerts" %>

<div>
  <table>
    <tr>
      <th>Name</th>
      <th>URL</th>
      <th>Created On</th>
      <th>Crawl Interval</th>
      <th>RTT</th>
      <th>Active?</th>
      <th>Status</th>
    </tr>
    <% current_user.alerts.each do |alert| %>
      <tr>
        <%= render "alert", alert: alert %>
      </tr>
      <br>
  </table>
  <% end %>
</div>