<%= render "shared/title", title: "Your Alerts" %>

<div>
  <table class="table table-sm alert-table">
    <%= render "alert_table_head", alert: @alert %>
    
    <tbody>
    <% @user.alerts.each do |alert| %>
    <%# require 'pry'; binding.pry %>
      <%= render "alert", alert: alert %>
    <% end %>
    </tbody>
  </table>
</div>